<div class="container">
	<div class="header">
		<div class="row">
			<div class="span8 offset2">
				<div id="navigation">
					<ul class="ul-header">
						<li class="li-header"><a href="#about">About</a></li>
						<li class="li-header"><a href="#portfolio">Games</a></li>
						<li class="li-header"><a href="#blog">Blog</a></li>
						<li class="li-header"><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="span8 offset2">
				<div class="load-javascript-faggot">
					<h1 class="load-javascript">You need to turn on Javascript</h1>
					<img src="/faggot.gif" />
				</div>
				<div class="blog" id="blog">
					<h1 class="h1-blog">Blog Index</h1>
					<ul class="ul-blog">
						<li class="li-blog"><a href="#blog-hello-blog">Hello Blog</a></li>
					</ul>
				</div>
				<div class="game" id="game">
					<h1 class="h1-game">Game Index</h1>
					<ul class="ul-game">
						<li class="li-game">
							<div class="image-game">
								<p class="p-game">
								<a href="#game-hello-blog"><img src="http://placehold.it/200x200" class="img-polaroid" /></a>
								Just a placeholder thing here.
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="about" id="about">
				<h1 class="h1-about">Welcome to my blog / portfolio.</h1>
				</div>
				<div class="contact" id="contact">
					<h1 class="h1-contact">Thomas Chen</h1>					
					<dl>
						<dt>Email</dt>
						<dd>foxnewsnetwork@gmail.com</dd>
						<dt>Github</dt>
						<dd>http://github.com/foxnewsnetwork</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>